
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Righteous&family=Sarala:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img{
    height: 72px;
}

.cebecalho-menu{
    display: flex;
    gap: 32px
}

.intem{
    font-family: "Sarala", sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}

/*fim da nav*/

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}

.sub{
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: #ecd6c4;
}

.botao{
    background-color: #ecd6c4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.balle{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-titulo{
    border-top: 0.4px solid #FFF2E7; /*linha*/
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.para {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}
/*alinha apenas um elemento displal:blok e margin: 0 auto;*/

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.icons a i{
    color: white;
    font-size: 20px;
    margin: 0 10px;
}


.icons a i:hover{
    color:#ffffffac ;
    cursor: pointer;

}

.icons p{
    color: #FFF;
    text-align: center;
    font-family: Sarala;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

.icons .color {
    color: #9C8B8B;
}
